# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
*.json
*.data-00000-of-00001
*.index
untitled_project/trial_0005/checkpoint
untitled_project/trial_0000/checkpoint
untitled_project/trial_0001/checkpoint
untitled_project/trial_0003/checkpoint
untitled_project/trial_0059/checkpoint
untitled_project/trial_0057/checkpoint
untitled_project/trial_0056/checkpoint
untitled_project/trial_0054/checkpoint
untitled_project/trial_0052/checkpoint
untitled_project/trial_0053/checkpoint
untitled_project/trial_0051/checkpoint
untitled_project/trial_0047/checkpoint
untitled_project/trial_0046/checkpoint
untitled_project/trial_0049/checkpoint
untitled_project/trial_0050/checkpoint
untitled_project/trial_0045/checkpoint
untitled_project/trial_0055/checkpoint
untitled_project/trial_0044/checkpoint
untitled_project/trial_0048/checkpoint
untitled_project/trial_0058/checkpoint
untitled_project/trial_0043/checkpoint
untitled_project/trial_0042/checkpoint
untitled_project/trial_0040/checkpoint
untitled_project/trial_0041/checkpoint
untitled_project/trial_0039/checkpoint
untitled_project/trial_0038/checkpoint
untitled_project/trial_0037/checkpoint
untitled_project/trial_0035/checkpoint
untitled_project/trial_0034/checkpoint
untitled_project/trial_0033/checkpoint
untitled_project/trial_0036/checkpoint
untitled_project/trial_0031/checkpoint
untitled_project/trial_0030/checkpoint
untitled_project/trial_0029/checkpoint
untitled_project/trial_0032/checkpoint
untitled_project/trial_0028/checkpoint
untitled_project/trial_0027/checkpoint
untitled_project/trial_0026/checkpoint
untitled_project/trial_0025/checkpoint
untitled_project/trial_0023/checkpoint
untitled_project/trial_0022/checkpoint
untitled_project/trial_0021/checkpoint
untitled_project/trial_0024/checkpoint
untitled_project/trial_0020/checkpoint
untitled_project/trial_0019/checkpoint
untitled_project/trial_0002/checkpoint
untitled_project/trial_0004/checkpoint
untitled_project/trial_0007/checkpoint
untitled_project/trial_0008/checkpoint
untitled_project/trial_0009/checkpoint
untitled_project/trial_0010/checkpoint
untitled_project/trial_0012/checkpoint
untitled_project/trial_0013/checkpoint
untitled_project/trial_0018/checkpoint
untitled_project/trial_0017/checkpoint
untitled_project/trial_0016/checkpoint
untitled_project/trial_0015/checkpoint
untitled_project/trial_0014/checkpoint
untitled_project/trial_0011/checkpoint
untitled_project/trial_0006/checkpoint
